#booking-info-content {
    padding: 0.1rem 2rem 1.3rem 2rem;
    background-color: var(--grey-300-color);
    border-radius: 0.3rem;
}

#booking-choose-order-date {
    height: 2rem;
    background-color: var(--grey-50-color);
    border: 2px solid transparent;
    transition: all 0.1s ease-in;
    border-radius: 4px;
}

.btn-booking-place-order {
    box-shadow: inset 0px 2px 3px 0px var(--cyan-color-normal);
    background-color: var(--cyan-color-dark);
    color: var(--white-color);
    border: 1px solid var(--cyan-color-dark);
    border-radius: 4px;
    cursor: pointer;
    font-weight: 700;
    padding: 0.4rem 1.2rem;
    display: block;
    transition: all 0.2s ease;
}

#booking-time-period input[type='radio'] {
    background: var(--white-color);
    -webkit-appearance: none;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    outline: none;
}

#booking-time-period input[type='radio']:checked {
    background: var(--cyan-color-dark);
    border: 2px solid var(--white-color);
}

.invalid-order-date {
    color: var(--warning-color-red);
    background-color: var(--white-color) !important;
    border: 2px solid var(--warning-color-red) !important;
    animation: shake 1.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    animation-delay: 0.1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

#booking-section {
    margin-top: calc(var(--nav-bar-height) + 1rem);
    width: 100%;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
}

#booking-container {
    padding: 1.2rem 0rem 1.2rem 15rem;
}

.booking-info-container {
    padding: 1.2rem 0rem 1.2rem 15rem;
    display: grid;
    grid-template: auto;
}

.booking-info-attractoin-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.booking-info-img {
    width: 29%;
    height: 9 rem;
    object-fit: cover;
    background-color: var(--grey-150-color);
    border-radius: 0.3rem;
}

.booking-info-detail {
    min-width: 60%;
    line-height: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
}

.booking-text-block h4,
.booking-text-block p {
    display: inline;
    vertical-align: top;
    line-height: 2;
}

.emphasize-font {
    font-weight: 800;
    color: var(--cyan-color-dark);
}

.booking-info-delete {
    color: var(--red-color);
    cursor: pointer;
}

@media screen and (max-width: 1200px) {
    .booking {
        justify-content: space-between;
        align-content: center;
        align-items: center;
        width: 90%;
        margin: 2rem auto;
        flex-direction: row;
        flex-wrap: wrap;
    }
}
