#booking-info-content {
    padding: 0.1rem 2rem 1.3rem 2rem;
    background-color: var(--grey-300-color);
    border-radius: 0.3rem;
}

#booking-choose-order-date {
    height: 2rem;
    background-color: var(--grey-50-color);
    border: 2px solid transparent;
    transition: all 0.1s ease-in;
    border-radius: 4px;
}

.btn-booking-place-order {
    box-shadow: inset 0px 2px 3px 0px var(--cyan-color-normal);
    background-color: var(--cyan-color-dark);
    color: var(--white-color);
    border: 1px solid var(--cyan-color-dark);
    border-radius: 4px;
    cursor: pointer;
    font-weight: 700;
    padding: 0.4rem 1.2rem;
    display: block;
    transition: all 0.2s ease;
}

#booking-time-period input[type='radio'] {
    background: var(--white-color);
    -webkit-appearance: none;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    outline: none;
}

#booking-time-period input[type='radio']:checked {
    background: var(--cyan-color-dark);
    border: 2px solid var(--white-color);
}

.invalid-order-date {
    color: var(--warning-color-red);
    background-color: var(--white-color) !important;
    border: 2px solid var(--warning-color-red) !important;
    animation: shake 1.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    animation-delay: 0.1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

#booking-section {
    margin-top: calc(var(--nav-bar-height) + 1rem);
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.booking-info-container {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#booking-container,
#booking-info-section {
    max-width: 1200px;
    width: 100%;
}

.booking-info-container {
    display: grid;
    grid-template: auto;
}

.booking-info-attractoin-container {
    display: flex;
    justify-content: center;
}

.booking-info-img {
    width: 41%;
    height: 12rem;
    object-fit: cover;
    background-color: var(--grey-150-color);
    border-radius: 0.3rem;
}

.booking-info-detail {
    min-width: 60%;
    line-height: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
}

.booking-text-block h4,
.booking-text-block p {
    display: inline;
    vertical-align: top;
    line-height: 2;
}

.emphasize-font {
    font-weight: 800;
    color: var(--cyan-color-dark);
}

.booking-info-delete {
    color: var(--red-color);
    cursor: pointer;
}

.tap-pay-container {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.booking-not-found {
    margin-top: var(--nav-bar-height);
    padding-top: calc(var(--nav-bar-height) * 0.8);
}

@media screen and (max-width: 1200px) {
    .booking {
        justify-content: space-between;
        align-content: center;
        align-items: center;
        width: 90%;
        margin: 2rem auto;
        flex-direction: row;
        flex-wrap: wrap;
    }

    #booking-container,
    #booking-info-section,
    .contact-view-container,
    .card-view-container,
    .price-view-container {
        width: 90% !important;
    }
}

@media screen and (max-width: 800px) {
    .booking-info-img {
        width: 100%;
        min-height: 25rem;
        margin: 0 auto;
        grid-area: img;
    }

    .booking-info-detail {
        margin-left: 0;
        margin-top: 1rem;
        grid-area: detail;
    }

    .booking-info-delete {
        margin-top: 1rem;
        grid-area: delete;
    }

    .booking-info-attractoin-container {
        display: grid;
        grid-template-columns: 1fr 1fr 0.1fr;
        grid-template-rows: auto;
        grid-template-areas: 'img img img' 'detail detail delete';
    }
}
