:root {
    --normal-font-size: 20px;
    --big-font-size: 40px;
    --first-color: rgba(255, 255, 255, 0.9);
    --second-color: rgba(170, 221, 238, 1);
    --cyan-gradient-light: linear-gradient(to bottom, #aaddee 0%, #66aabb 100%);
    --cyan-main: rgba(68, 136, 153, 1);
    --cyan-color-dark: rgba(61, 122, 139, 1);
    --cyan-800-color: rgba(68, 136, 153, 1);
    --cyan-color-normal: rgba(102, 170, 187, 1);
    --grey-50-color: rgba(248, 248, 248, 1);
    --grey-100-color: rgba(245, 245, 245, 1);
    --grey-150-color: rgba(240, 240, 240, 1);
    --grey-800-color: rgba(102, 102, 102, 1);
    --grey-200-color: rgba(204, 204, 204, 1);
    --grey-300-color: rgba(232, 232, 232, 1);
    --grey-500-color: rgba(153, 153, 153, 1);
    --grey-color-transperent-3: rgba(153, 153, 153, 0.3);
    --grey-color-transperent-1: rgba(153, 153, 153, 0.1);
    --grey-color-transperent-01: rgba(153, 153, 153, 0.01);
    --grey-color-transperent-05: rgba(153, 153, 153, 0.05);
    --block-gap-size: 18px;
    --nav-bar-height: 66px;
    --white-color: rgba(255, 255, 255, 1);
    --white-color-transperent-4: rgba(255, 255, 255, 0.4);
    --white-color-transperent-9: rgba(255, 255, 255, 0.9);
    --black-color-transperent-4: rgba(0, 0, 0, 0.4);
    --black-color-transperent-6: rgba(0, 0, 0, 0.6);
    --black-color-transperent-9: rgba(0, 0, 0, 0.9);
    --shaking-animation-duration: 0.2s;
    --shaking-animation-timing-function: ease-in-out;
    --shaking-animation-iteration-count: infinite;
    --shaking-animation-direction: alternate;
    --shaking-animation-name: shaking;
    --warning-color-red: rgba(255, 0, 0, 1);
    --warning-color-pink: rgba(255, 0, 255, 1);
}

body {
    font-family: Noto Sans TC;
    /* font-size: var(--normal-font-size); */
    color: var(--grey-800-color);
    margin: 0 auto;
    background-color: var(--first-color);
}

.vc-two-ele {
    display: flex;
    align-items: center;
}

.ml-2 {
    margin-left: 2rem;
}

.mt-mi-2 {
    margin-top: -2rem;
}

.mt-mi-1 {
    margin-top: -1rem;
}

.mb-mi-1 {
    margin-bottom: -1rem;
}

.ml-dot-5 {
    margin-left: 0.5rem;
}

.mt-5 {
    margin-top: 5rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mr-1 {
    margin-right: 1rem;
}

.float-right {
    float: right;
}

.dom-in-same-line {
    display: flex;
    align-items: center;
}

.justfy-end {
    justify-content: flex-end;
}

.second-text {
    color: var(--grey-800-color);
}

.divider {
    margin: 3.3rem 0;
    width: 100%;
    max-width: 1200px;
    border-bottom: 0.1px solid var(--grey-100-color);
}
